.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;               
  background-color: transparent; 
}

.splash-image {
  max-width: 80%; 
  height: auto;
}
